html{
    font-size: 62,5%;
}

body{
    font-size: 1.6rem;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-all;
}


body{
    background-color: rgb(29, 197, 127);
}
